.pastilleChoix:active, .pastilleChoix:focus{
    background-color: rgba(255, 0, 0, 1);
}

.pastilleChoix{
    /* background-color: rgba(255, 0, 0, 0.6); */
    background-color: #E60028 ;
    display: table;
    border: 5px solid black;
    padding: 50px;
    text-align: center;
    border-radius:25px;
}

.boutons{
    display: inline-block;
    font-size: 70pt;
}

.pays{
    margin: 15% 1% 0 8%;
}

.yesNo{
    display: inline-block;
	margin: 15% 15% 0 15%;
}

.itfinance{
    margin: 15% 7% 0 15%;
}

.header{
    width: 100%;
    height: 13%;
    position: fixed;
    top: 0;
    margin-top:2%;
    background-color: white;
}


#lienRetour{
    display: flex;
    align-items:center;
    border: 5px solid #E52442;
    border-radius: 5px;
    font-size: 40px;
    float:left;
    margin: 0% 0% 1% 1%;
    padding: 5px 10px 5px 0px;
}