.pastilleChoix:active, .pastilleChoix:focus{
    background-color: rgba(255, 0, 0, 1);
}

.pastilleChoix{
    /* background-color: rgba(255, 0, 0, 0.6); */
    background-color: #E60028 ;
    display: table;
    border: 5px solid black;
    padding: 50px;
    text-align: center;
}

.boutons{
    display: inline-block;
    font-size: 70pt;
}

.pays{
    margin: 15% 1% 0 8%;
}

.yesNo{
    display: inline-block;
	margin: 15% 15% 0 15%;
}